*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, #f2f4f4, #c7cfd0, #9eabb0, #788791, #566573);
}

/*navbar*/

.nav{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 120%;
}

.nav_color{
    background-image: linear-gradient(to bottom, #b2babb, #99a4a8, #808f96, #6a7a84, #566573);
    height: 65px;
    width: 200%;
    position: fixed;
}

.logo_gow_ragnarok img{
    max-width: 100%;
    height: 85px;
    margin-left: 50px;
}

.listas{
    margin-top: -30px;
    margin-left: -50px;
}

.listas a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: url(Font/GODOFWAR.TTF) ;
    font-weight: bold;
}

.listas ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.listas ul li a{
    display: block;
    padding: 0.1rem 0.5rem;
    transition: all 0.5 linear;
}

.listas ul li a:hover{
    background-color: white;
    color: gray;
    border-radius: 2px;  
}

/* Final del Navbar*/

/*formulario*/

.formulario img{
    padding: 200px;
    padding-bottom: 15px;
    display:block;
    margin:auto;
    width: 500px;
}

.formulario p{
    color: black;
    text-align: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 60px;
}

.formulario input{
    background-color: rgb(152, 181, 235);
    border-radius: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
}

#boton1 {
    color: black;
    font-size: 20px;
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 0;
    background: gray;
    border-radius: 10px; 
}

#boton1:hover{
    background-color: rgb(63, 61, 61);
    color: white;
    border-radius: 10px;  
}

#boton2 {
    color: black;
    font-size: 20px;
    width: 200px;
    height: 30px;

    margin: 0;
    padding: 0;
    background: gray; 
    box-shadow: black;
    border-radius: 10px;
}

#boton2:hover{
    background-color: rgb(63, 61, 61);
    color: white;
    border-radius: 10px;  
}

/*pie de pagina*/

.footer{
    margin-top: 136px;
    background-image: linear-gradient(to bottom, #566573, #788791, #9eabb0, #c7cfd0, #f2f4f4);
    font-style: oblique;
    font-style: oblique;
    font-weight: bold;
}

.footer img{
    margin-top: 10px;
    max-width: 100%;
    height: 70px;
    margin-left: 648px;
}

.footer p{
    color: black;
    font-size: 18px;
    font-family: url(Font/GODOFWAR.TTF);
    margin-left: 650px;
}